/*************REGLE GENERAL********/
:root
{
    --normalblue:#0065FC;
    --lightblue: #DEEBFF;
    --grey: #F2F2F2;
    --secondaire: #FF79DA;
    --tertiaire: #99E2D0;
    --primaire: #9356DC;
}
*, *::before, *::after
{
    box-sizing: border-box;
}
a 
{
    text-decoration: none;
    color: inherit;
    display: inherit;
}
img
{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
p, h1, h2, h3
{
    margin: 0;
    padding: 0;
}
body, footer, header, aside
{
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
}
/*************HEADER********/
.header1 > a
{
    font-family: 'shrikhand', sans-serif;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 5px grey;
    margin: 0;
}
.header1 > p
{
    display: flex;
    justify-content: center;
    margin-top: 1px;
    background-color: #EAEAEA;
    padding: 10px;
}
.localPoint
{
    padding-right: 10px;
}
.headerLast
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
    justify-content: center;
    text-align: center;
    padding: 10%;
}
.headerLast > h1
{
    font-weight: bolder;
    padding-bottom: 10px;
}
.headerLast > p
{
    margin-bottom: 10%;
    color: grey;
}
button {
    border: none;
    border-radius: 100%;
    text-align: center;
    border-radius: 50px;
    color: white;
    background: linear-gradient(to right bottom, var(--secondaire), var(--primaire));
    padding: 20px 30px 20px 30px;
    font-size: 17px;
    font-weight: bold;
}

/*************FONCTIONNEMENT********/
aside > h1 
{
    margin-left: 4%;
    margin-bottom: 5%;
    display: flex;
}
aside 
{
    padding-top: 10%;
    padding-bottom: 9%;
}
ol
{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0;
    padding: 0;
}
.icone:hover
{
    color: var(--primaire);
}
li 
{
    background-color: var(--grey);
    border-radius: 25px;
    width: 75%;
    margin-bottom: 20px;
    display: flex;
    padding-left: 9%;
    align-self: center;
    font-weight: bold;
    padding: 5%;
    box-shadow: 1px 1px 7px rgb(195, 194, 194);
    counter-increment: li;
    align-items: center;
    text-align: justify;
}
li::before {
    
    content: counter(li);
    margin-left: -35px;
    margin-right: 10px;
    background-color: var(--primaire);
    height: 25px;
    width: 25px;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 15px;
    font-weight: normal;
}
li:hover
{
    background-color: #F5EDFF;
}
.icone 
{
    display: flex;
    align-self: center;
    margin-right: 4%;
    margin-left: 2.5%;
    color: gray;
}
/*************RESTAURANT ET ONGLETS********/
.restau
{
    background-color:#F6F6F6;
    padding-right: 30px;
    padding-left: 30px;
}
.new
{
    position: absolute;
    width: 70px;
    display: flex;
    justify-content: center;
    background-color:#99E2D0; 
    margin-right: 10px;
    margin-top: 15px;
    padding: 2px;
    color:#008766;
}

.conteneurArticle
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteneurImg
{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: flex-end;
}
.carte 
{
    width: 100%;
    height: 100%;
}
.conteneurTextIcone
{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
}
.conteneurTexte 
{
    margin-left: 3%;
    margin-top: 2%;
    color: black;
}
.conteneurTexte > h2
{
    font-weight: bolder;
    font-size: 19px;
}
.conteneurArticle > a 
{
    background-color: white;
    border-radius: 15px;
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
}
.heartIcone
{
    display: flex;
    align-self: center;
    font-size: 25px;
    color: rgb(75, 73, 73);
    margin-right: 4%;
}
.restau > h1
{
    padding-top: 15%;
    margin-bottom: 20px;
}
/*************FOOTER********/
footer
{
    background-color: #353535;
    width: 100%;
    color: white;
    padding: 25px; 
}
footer > h2
{
    font-style: italic;
    font-size: 18px;
    padding: 0 0 15px 0;
    font-family: 'shrikhand';
    font-weight: lighter;
}
.iconeFooter
{
    font-size: 10px;
    width:20px;
}
